.form-control,
.btn {
   border-radius: 60px;
}
.btn-google {
   color: #fff;
   background-color: #ea4335;
   border-color: #fff;
}
.btn-facebook {
   color: #fff;
   background-color: #3b5998;
   border-color: #fff;
}
.bg-primary {
   background-color: #ef00ff !important;
}
